In [3]:
import numpy as np
import pandas as pd
import math

In [4]:
def pick_up(value,top):
    p=value
    df=pd.read_csv("E:/bike sharing system/bike sharing code/bikesharin.csv")
    df.dropna(inplace=True)
    x=list(df['pos1'].values)
    y=list(df['pos2'].values)
    points=list(zip(x,y))
    distance=[] 
    for group in points:
        euclidean_distance = math.sqrt((group[0]-p[0])**2 +(group[1]-p[1])**2) 
        distance.append((euclidean_distance))
    df['distance']=distance
    df=df[df['distance']<=5] 
    df=df[df['stock']!=0]
    
    df=df.sort_values('distance')
    return df.head(top)

In [5]:
pick_up((2,3),4)

,pos1,pos2,time,station,location,stationcapacity,stock,distance
0,1,2,10:00,nampally,hyderabad,80,2,1.414214
4,3,1,14:00,RK nagar,hyderabad,60,32,2.236068
8,1,5,18:00,Erragadda,hyderabad,70,55,2.236068
12,5,5,22:00,Banjarahills,hyderabad,50,45,3.605551

In [11]:
def drop(value,top):
    p=value
    df=pd.read_csv("E:/bike sharing system/bike sharing code/bikesharin.csv")
    df.dropna(inplace=True)
    x=list(df['pos1'].values)
    y=list(df['pos2'].values)
    points=list(zip(x,y))
    distance=[] 
    for group in points:
        euclidean_distance = math.sqrt((group[0]-p[0])**2 +(group[1]-p[1])**2) 
        distance.append((euclidean_distance))
    df['distance']=distance
    df=df[df['distance']<=5] 
    df=df[df['stock']!=df['stationcapacity']]
    df=df.sort_values('distance')
    return df.head(top)

In [12]:
drop((13,5),2)

    pos1  pos2  time      station   location  stationcapacity  stock  distance
15    10     3   1:00     Stadium  hyderabad               30     15  3.605551
5      8     5  15:00  kukatpally  hyderabad               30      5  5.000000